<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/simulator.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery.form.js"></script>
    <script src="/javascripts/lib/raphael.js"></script>
    <script src="/javascripts/lib/g.raphael-min.js"></script>
    <script src="/javascripts/lib/g.pie-min.js"></script>
    <script src="/javascripts/simulator.js"></script>
    <script src="/javascripts/lib/cubism.v1.js"></script>
</head>

<body>
    <div id="main">
        <div id="controls">
            <div class="control">
                <div class="label">e <span class="meaning">(Exchange rate)</span></div>
                <div class="input">
                    <input type="text" name="e" size="8" />
                </div>
            </div>
            <div class="control">
                <div class="label">M <span class="meaning">(Monetary Offer)</span></div>
                <div class="input">
                    <input type="text" name="M" size="8" />
                </div>
            </div>
            <div class="control">
                <div class="label">T <span class="meaning">(Tax rates)</span></div>
                <div class="input">
                    <input type="text" name="T" size="8" />
                </div>
            </div>
            <div class="control">
                <div class="label">G <span class="meaning">(Government expenditure)</span></div>
                <div class="input">
                    <input type="text" name="G" size="8" />
                </div>
            </div>
            <div class="control">
                <div class="label">V <span class="meaning">(Money velocity)</span></div>
                <div class="input">
                    <input type="text" name="V" size="8" />
                </div>
            </div>
            <div class="control">
                <div class="label">MPC <span class="meaning">(Marginal Propensity To Consume)</span></div>
                <div class="input">
                    <input type="text" name="MPC" size="8" />
                </div>
            </div>
            <div class="control">
                <div class="input">
                    <input type="button" name="Model.nextStep()" value="Advance economy" />
                </div>
            </div>
        </div>

        <div id="results">
            <div class="result selected">
                <div class="label">GDP (Gross Domestic Product)</div>
                <div class="historicalResults"></div>
                <div class="graph"></div>
            </div>
            <div class="result">
                <div class="label">C (Consumption)</div>
                <div class="historicalResults"></div>
                <div class="graph"></div>
            </div>
            <div class="result">
                <div class="label">I (Investment)</div>
                <div class="historicalResults"></div>
                <div class="graph"></div>
            </div>
            <div class="result">
                <div class="label">XN (Net exports)</div>
                <div class="historicalResults"></div>
                <div class="graph"></div>
            </div>
            <div class="result">
                <div class="label">P (Price Level)</div>
                <div class="historicalResults"></div>
                <div class="graph"></div>
            </div>
            <div id="holder"></div>
        </div>
    </div>
</body>
</html>
